body{
   background: url('../Imagenes/horoscopo.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   margin: 0;
   height: 100vh; 
}

form{
  width:40%;
  height: 50vh;
  margin: auto;
  margin-top: 10%;
  background: rgba(28, 62, 71, 0.7);
}

form h1{
    color: white;
    padding: 1%;
}

form h2{
    color: #00394B;
}

.izq{
  float: left;
  width: 50%;
  margin-top:3%;
  margin-bottom:3%;
  color: white;
}

.der{
  float: right;
  width: 50%;
}

.titulo{
   
  width:100%;
  background:white;
}

.boton{
  width:100%;
}

.datos-personales{

  height:50%;
}

